@{
    ViewData["Title"] = "Home Page";
}

<h1>All activities</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Location</th>
            <th>Date</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var activity in Model)
        {
            <tr>
                <td>@activity.Name</td>
                <td>@activity.Description</td>
                <td>@activity.Location</td>
                <td>@activity.Date.ToString("g")</td>
                <td style="color: rgb(@activity.Category?.CategoryColor.R, @activity.Category?.CategoryColor.G, @activity.Category?.CategoryColor.B)">@activity.Category?.Name</td>
            </tr>
        }
    </tbody>
</table>
